@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block
}
*{
  font-family: Outfit;
}
.ibm-plex-serif-medium {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
}
